.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - calc(4 * var(--letter-size)));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: calc(1 * var(--letter-size));
  padding-bottom: calc(3 * var(--letter-size));
}

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  display : grid;
  grid-template-columns: repeat(var(--board-size), var(--letter-size));
  grid-template-rows: repeat(var(--board-size), var(--letter-size));

  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: calc(var(--letter-size) / 2);

  z-index: 1;
  perspective: 800px;
  transform-style: preserve-3d;
}

@media only screen and (max-width: 767px) {
  .grid {
    font-weight: 300;
  }
}

.selections {
  position: absolute;
  z-index: 0;
}

.selected {
  color: red;
  transition: color 0.8s ease;
}

.bokstav {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotateX(0deg);
  opacity: 1;
}

.bokstav:hover {
  font-weight: 300;
}

.loading {
  opacity: 0.3;
  transform: rotateX(0deg);
}

.loaded {
  opacity: 0.3;
  transform: rotateX(0deg);
}

.celebrating {
  opacity: 1;
}

@keyframes spin {
  from {
    opacity: 0.3;
    transform: rotateX(0deg);
  }
  49.99% {
    transform: rotateX(-89deg);
  }
  50% {
    transform: rotateX(90deg)
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes celebration {
  from {
    opacity: 1;
    transform: rotateX(0deg);
  }
  to {
    opacity: 1;
    transform: rotateX(-360deg);
  }
}

.selection-hidden {
  opacity: 0;
}

.selection-not-hidden {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.selection-firkant {
  position: relative;
  opacity: 0.05;
  content: "";
  width: var(--letter-size);
  pointer-events: none;
  filter: blur(3px);

  transform-origin: 50% 0;
}

.selection-capsule {
  position: relative;
  background-color: white;
  content: "";
  width: 100%;
  height: 100%;
}

.fasit-container {
  position: relative;
  left: calc(-1 * var(--board-size) * var(--letter-size) / 2);
  height: 0;
}

.fasit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: calc(var(--letter-size) / 2.9);

  position: absolute;
  margin-top: calc(var(--letter-size) / 1.5);
  margin-left: calc(var(--letter-size) / 3.3);
  width: calc(var(--board-size) * var(--letter-size));
  display: flex;
  flex-wrap: wrap;

  perspective: 800px;
  transform-style: preserve-3d;
}

.fasit>div {
  margin-right: calc(3 * var(--letter-size) / 5);
  margin-bottom: calc(var(--letter-size) / 5);
  opacity: 0;
  transform: rotateX(0deg);
  animation: spinFade 0.4s linear forwards;
}

@keyframes spinFade {
  50% {
    opacity: 0;
    transform: rotateX(-90deg)
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  background-color: black;
  opacity: 0;

  animation: fadein-backdrop 0.4s ease forwards;
  animation-delay: 3s;

  z-index: 4;
}

@keyframes fadein-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

.modal-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  perspective: 1000px;
  transform-style: preserve-3d;
  z-index: 5;
}

.modal {
  position: relative;
  top: -50px;

  padding: 10px;
  border-radius: 50px;
  border: 1px  #383c44 solid;

  width: 700px;
  height: 500px;
  max-width: 90vw;
  max-height: 90vh;

  background-color: #282c34;
  color: white;
  opacity: 0;

  transform-origin: 0 -50% 0px;
  animation: rotateX 0.4s ease forwards;
  animation-delay: 3s;
}

@keyframes rotateX {
  from {
    opacity: 0;
    transform: rotateX(-5deg) translateY(5%);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: rotateX(0) translateY(0);
  }
}
