.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  display : grid;
  grid-template-columns : repeat(var(--board-size), 50px);
  grid-template-rows : repeat(var(--board-size), 50px);

  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 25px;

  z-index: 1;
  perspective: 800px;
  transform-style: preserve-3d;
}

.bokstav {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bokstav:hover {
  font-weight: 300;
}

.selections {
  position: absolute;
  z-index: 0;
}

.selected {
  color: red;
  font-weight: 300;
  transition: color 0.3s ease;
}

.loading {
  opacity: 0.3;
}

.loaded {
  opacity: 1;
  transition: opacity 0.03s ease;

  transform: rotateX(0deg);
  animation: spin 0.4s linear forwards;
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
  }
  49.9% {
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(90deg)
  }
  to {
    transform: rotateX(0deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.selection-fadein {
  animation: fadein 0.5s ease forwards;
}

.selection-firkant {
  position: fixed;
  opacity: 0.05;
  content: "";
  width: 50px;
  pointer-events: none;
  filter: blur(3px);

  transform-origin: 50% 0;
}

.selection-capsule {
  opacity: 0;
  background-color: white;
  content: "";
  width: 100%;
  height: 100%;
}

.fasit {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 17px;

  position: absolute;
  margin-top: 20px;
  margin-left: 15px;
  width: 750px;
  display: flex;
  flex-wrap: wrap;

  perspective: 800px;
  transform-style: preserve-3d;
}

.fasit>div {
  margin-right: 30px;
  margin-bottom: 10px;
  opacity: 0;
  transform: rotateX(0deg);
  animation: spinFade 0.4s linear forwards;
}

@keyframes spinFade {
  50% {
    opacity: 0;
    transform: rotateX(-90deg)
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
