.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grid {
  display : grid;
  grid-template-columns : repeat(var(--board-size), 50px);
  grid-template-rows : repeat(var(--board-size), 50px);

  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 25px;
}

.bokstav {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bokstav:hover {
  font-weight: 300;
}

.selections {
  position: absolute;
}

.selected {
  color: red;
}

.selection-firkant {
  position: fixed;
  opacity: 0.3;
  content: "";
  width: 50px;
  pointer-events: none;

  transform-origin: 50% 0;
}

.selection-capsule {
  background-color: white;
  content: "";
  width: 100%;
  height: 100%;
}
